/* Descriptive variables (colors) */

$white = rgb(255, 255, 255)
$black = rgb(0, 0, 0)
$red = rgb(255, 85, 85)
$celeste = rgb(46, 255, 195)
$blue = rgb(1, 22, 136)
$yellow = rgb(255, 255, 118)

/* Functional variables (colors) */

$border-color = rgba(0, 0, 0, 0.1)
$error = $red

